<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
  <title>Hello React</title>
</head>

<body>
  <div id="root"></div>
  <script type="text/babel">
    const aa = [50,10,10]; 
    const a = false;
    const helloReact = <div>Hello React!</div>; 
    const test =
    <p style={{ backgroundColor: 'red',color: 'black' }}>2+2 = {a ? 2+2 : 4+4} {aa}</p>;
     ReactDOM.render(test, document.getElementById('root'));
  </script>
</body>

</html>