body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#footer {
  position: fixed;
   bottom:0;
   width:100%;
}
div#polaroid {
  width: 370px;
  height: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* text-align: center; */
}
div#container {
  padding: 10px;
}
